/* Paleta */
.maximum-blue-purple{color: #b2abf2ff;}
.claret{color: #89043dff;}
.turquoise{color: #2fe6deff;}
.prussian-blue{color: #1c3041ff;}
.sea-green-crayola{color: #18f2b2ff;}
.onyx{color: #313638;}
.naranjilla {
    color: #F06543;
    font-weight: bold;
}

body {
    background-color:#18f2b2ff;;
}

header {
    width: 40%;
    margin: 0 auto;
}

h1 {
    color:#1c3041ff;;
    text-align: center;
}

h2 {
    color:#b2abf2ff;;
    text-align: center;
}

p {
    color:#89043dff;
    text-emphasis-style: bold;
    text-align: center;
}

section {
    text-align: center;
}

footer {
    width: 40%;
    height: 10%;
    margin: 1% auto 0 auto;
    background-color: #89043dff;
    color: white;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor {
    
    background: rgb(255, 187, 98);
    padding: 10px;
    width: 40%;
    height: 8em;
    margin: 0 auto;
    border-radius: 2%;
    
}
.cajita {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: #313638; 
    border: 5px solid #F06543;
    width: 15%;
    height: 5em;
    color: #E8E9EB;
    border-radius: 5px;
    margin: 5px;
}

.hijo2 {

    position: static;
    bottom: 40px;
    right: 50px;
    border: 8px solid white;

}

.hijo5 {
    position: relative;
    bottom: 40px;
    right: 50px;
    border: 8px solid purple;
}

.flex-columna {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
    
.contenedor2 {
    
    background: rgb(255, 187, 98);
    padding: 10px;
    width: 40%;
    /* height: 400px; */
    margin: auto;
    /* position: relative; */
}
    
.hijo8 {
    
    position: fixed;
    bottom: 100px;
    right: 400px;
    border: 8px solid purple;
    
}

.hijo11 {

    position: sticky;
    top: 0px;
    border: 8px dotted white;
    
}

.lorem {
    color: darkslateblue;
    text-align: justify;
    width: 40%;
    margin: 0 auto;

}