body {
    background-image: url(../img/fondo_morado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    background-color: #f0f0f0;
    width: 300px;
    padding: 20px;
    margin: 30px auto; /* Centrado horizontal y margen superior */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

form h1 {
    font-size: 28px;
    color: grey;
    margin-bottom: 40px;
}


.input-container {
    margin-bottom: 30px;
    text-align: left;
    width: fit-content;
}

.input-container input[type="text"],
.input-container input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 50px; /* Espacio a la izquierda para el icono */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.input-container input[type="text"] {
    background-image: url('../img/icono_usuario.png'); /* Icono de usuario */
    background-size: contain;
}

.input-container input[type="password"] {
    background-image: url('../img/icono_candado.png'); /* Icono de candado */
    background-size: contain;
}

.checkbox-container {
    font-size: 14px;
    margin-bottom: 10px;
    color: gray;
    text-align: left;
    padding-left: 5px;
}

.checkbox-container input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
    accent-color: gray;
}

.forgot-password {
    padding-left: 15%;
    text-align: right;
    font-size: 14px;
}

.forgot-password a {
    color: orange;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

button {
    width: 70%;
    padding: 10px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px auto; 
}

footer {
    margin-top: 20px;
}

footer p {
    color: white;
    font-size: 16px;
}

footer a {
    color: orange;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}